h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(245, 0, 0);
     background-color: rgb(232, 255, 229);
}
h2 {
    color: rgb(47, 0, 255);
     background-color: rgb(232, 255, 229);
}

a {
     background-color: rgb(232, 255, 229);

}
body {

    background-color: rgb(149, 253, 161);
}

p {
     background-color: rgb(232, 255, 229);
     font-size: xx-large;
}